<!-- -*- mode: XML -*- -->
<launch>
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  
  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find ric_gazebo)/worlds/gas_station.world"/> 
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ric_gazebo)/robots/komodo/komodo_with_elev.xacro'  ns:='init' color_name:='Grey'" />
  
    <!-- Colors: Black, Blue, Green, Grey, Orange, Brown, Red, White -->
    
  <include file="$(find ric_gazebo)/launch/spawn_komodo_with_elev_moveit.launch">   
    <arg name="name" value="komodo_1"/>
    <arg name="color" value="White"/>
    <arg name="front_camera" value='true'/>
    <arg name="arm_camera" value='true'/>
    <arg name="depth_camera" value='true'/>
    <arg name="laser_scanner" value='false'/>
    <arg name="urf" value='false'/>
    <arg name="imu" value='false'/>
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.1" />
    <arg name="R" value="0.0" />
    <arg name="P" value="0.0" />
    <arg name="Y" value="0.0" />
  </include>
  
  <include file="$(find komodo_arm_moveit_config)/launch/move_group.launch" />
  <node name="rviz" output="screen" pkg="rviz" type="rviz" args="-d $(find komodo_2_moveit_config)/config/komodo.rviz"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <!--  <rosparam file="$(find komodo_2dnav)/config/gazebo/costmap_common_params.yaml" command="load" ns="global_costmap" /> -->
  <!--  <rosparam file="$(find komodo_2dnav)/config/gazebo/costmap_common_params.yaml" command="load" ns="local_costmap" /> -->
  <!--  <rosparam file="$(find komodo_2dnav)/config/gazebo/local_costmap_params.yaml" command="load" /> -->
  <!--  <rosparam file="$(find komodo_2dnav)/config/gazebo/global_costmap_params.yaml" command="load" /> -->
  <!--  <rosparam file="$(find komodo_2dnav)/config/gazebo/base_local_planner_params.yaml" command="load" /> -->
  </node>
 
</launch>
