<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find komodo_2dnav)/maps/map.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <include file="$(find komodo_2dnav)/launch/remaper.launch" >
    <arg name="to" value="/diff_driver/command" />
    <arg name="from" value="/cmd_vel" />
  </include> 

  <!--- Run AMCL -->
  <!-- <include file="$(find komodo_2dnav)/launch/ric_amcl.launch" /> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find komodo_coffee_taker)/config/gazebo/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find komodo_coffee_taker)/config/gazebo/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find komodo_coffee_taker)/config/gazebo/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find komodo_coffee_taker)/config/gazebo/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find komodo_coffee_taker)/config/gazebo/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
